chromadb
sentence-transformers
langchain
langchain-community
langgraph
streamlit
ddgs
fpdf2
pypdf
pdfplumber
google-generativeai
python-dotenv
requests
beautifulsoup4
tiktoken
ollama
feedparser

pymupdf

langchain-ollama

langchain-google-genai
langchain-groq
langchain-openai


fastapi
uvicorn
python-multipart
pymongo
motor
python-jose[cryptography]
passlib[bcrypt]
resend
cryptography
svix

