chromadb
sentence-transformers
langchain
langchain-community
langgraph
streamlit
ddgs
fpdf2
PyPDF2
pdfplumber
google-generativeai
python-dotenv
requests
beautifulsoup4
tiktoken
ollama

pymupdf

langchain-ollama

langchain-google-genai

fastapi
uvicorn
python-multipart
